# Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environment
venv/
.env/

# Streamlit & cache
.streamlit/
reports/
*.xlsx
*.pdf
*.png

# OS files
.DS_Store

# Jupyter checkpoints
.ipynb_checkpoints/
